{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="index-text col-s12 red-text darken-4 center-align">
            <h1>TRAIN LIKE A <em>BEAST!</em></h1>
            <p>
                Become fitter and stronger with the best fitness app on the market,<br />
                and purchase the best equipment around!
            </p>
        </div>
    </div>
</div>
{% endblock %}
