{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-5 text-danger">
            <h1>THE BEST FITNESS APP ON THE MARKET</h1>
            <p>Become fitter and stronger with this app<br/> and purchase the best equipment aorund!</p>
        </div>
    </div>
</div>
{% endblock %}
