{% extends "base.html" %}
{% load static %}

{% block page_header %}
<nav class="nav-extended text-shadow black">
            <div class="nav-wrapper">
            <ul>
                <li><a href="{% url 'products' %}?category=activewear">Monday</a></li>
                <li><a href="{% url 'products' %}?category=activewear">Tuesdsy</a></li>
                <li><a href="{% url 'products' %}?category=equipment">Wednesday</a></li>
                <li><a href="{% url 'products' %}?category=clearance">Thursday</a></li>
                <li><a href="{% url 'products' %}?category=special_offers">Friday</a></li>
                <li><a href="{% url 'products' %}?category=new_arrivals">Saturday</a></li>
                <li><a href="{% url 'products' %}?category=new_arrivals">Sunday</a></li>
            </ul>
            </div>
        </nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="red-text darken-4 center-align">Products</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container">
            <div class="row">
                
{% endblock %}