{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="delivery-banner black red-text darken-4 center-align">
        <h3>Free delivery on orders over £{{ free_delivery_threshold }}!</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="red-text darken-4 center-align">Checkout</h2>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6 order-lg-last" style="margin-bottom: 5px;">
            <p class="text-muted">Order Summary ({{ product_count }})</p>
                <div class="row">
                    <div class="col s7 offet-s2">
                        <p class="small text-muted" style="margin-bottom: 1px; margin-top: 0px;">Item</p>
                    </div>
                    <div class="col s3 text-right">
                        <p class="small text-muted" style="margin-bottom: 1px; margin-top: 0px;">Subtotal</p>
                    </div>
                </div>
                {% for item in cart_items %}
                    <div class="row">
                        <div class="col s2" style="margin-bottom: 1px;">
                            <a href="{% url 'product_detail' item.product.id %}">
                                {% if item.product.image %}
                                    <img style="width: 100%;" src="{{ item.product.image_url }}" alt="{{ product.name }}">
                                {% else %}
                                    <img style="width: 100%;" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col s7">
                            <p style="margin-top: 0px; margin-bottom: 0px;"><strong>{{ item.product.name }}</strong></p>
                            <p class="small" style="margin-top: 0px; margin-bottom: 0px;">Size: {% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                            <p class="small text-muted" style="margin-top: 0px; margin-bottom: 0px;">Qty: {{ item.quantity }}</p>
                        </div>
                        <div class="col s3 text-right">
                            <p class="small text-muted" style="margin-top: 0px; margin-bottom: 0px;">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
                <hr style="margin-top: 0px; margin-bottom: 0px;">
                <div class="row black-text text-right">
                    <div class="col s7 offset-s2">
                        <p style="margin-top: 0px; margin-bottom: 0px;">Subtotal:</p>
                        <p style="margin-top: 0px; margin-bottom: 0px;">Delivery:</p>
                        <p style="margin-top: 0px; margin-bottom: 0px;">Order Total:</p>
                    </div>
                    <div class="col s3">
                        <p style="margin-top: 0px; margin-bottom: 0px;">${{ total | floatformat:2 }}</p>
                        <p style="margin-top: 0px; margin-bottom: 0px;">${{ delivery | floatformat:2 }}</p>
                        <p style="margin-top: 0px; margin-bottom: 0px;"><strong>${{ grand_total | floatformat:2 }}</strong></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <p class="text-muted"> Please fill out the form below to complete order.</p>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="rounded">
                        <legend class="fieldset-label small black-text" style="pading-left: 2px; padding-right: 2px; width: auto;">Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded">
                        <legend class="fieldset-label small black-text" style="pading-left: 2px; padding-right: 2px; width: auto;">Delivery</legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        <div class="form-check form-check-inline float-right" style="margin-right: 0px;">
                            {% if user.is_authenticated %}
                                <label for="id-save-info" class="form-check-label">Save this delivery information to my profile</label>
                                <input type="checkbox" class="form-check-input" style="margin-left: 2px; margin-right: 0px;" id="id-save-info" name="save-info" checked>
                            {% else %}
                                <label for="id-save-info" class="form-check-label">
                                    <a href="{% url 'account_signup' %}" class="text-info">Create an account</a> or
                                    <a href="{% url 'account_login' %}" class="text-info">Login</a> to save this information
                                </label>
                            {% endif %}
                        </div>
                    </fieldset>
                    <fieldset class="card-details" style="pading-left: 2px; padding-right: 2px;">
                        <legend class="fieldset-label small black-text" style="pading-left: 2px; padding-right: 2px; width: auto;">Payment</legend>
                        <!--stripe card-->
                        <div style="margin-bottom: 3px;" id="card-element"></div>
                        <!--display form errors-->
                        <div class="red-text" style="margin-bottom: 3px;" id="card-errors" role="alert"></div>
                    </fieldset>

                    <div class="submit-button text-right" style="margin-top: 5px; margin-bottom: 2px;">                    
						<a href="{% url 'view_cart' %}" class="btn btn-outline-black ">
								<i class="fas fa-chevron-left"></i>
							<span class="font-weight-bold">Adjust Bag</span>
						</a>
						<button id="submit-button" class="btn btn-black">
							<span class="font-weight-bold">Complete Order</span>
								<i class="fas fa-lock"></i>
						</button>
						<p class="small red darken-4" style="margin-top: 0px; margin-bottom: 0px;">
								<i class="fas fa-exclamation-circle"></i>
							<span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
						</p>
					</div>
                </form>
            </div>
        </div>
    </div>
    <div id="loading-overlay">
        <h1 class="loading-spinner">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </h1>
    <div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
