html {
    height: 100%;
}

body {
    background: url('../media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 200px);
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.img-products {
    height: 340px;
    width: 693px;
}

.container-fluid {
    padding-left: 10%;
    padding-right: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.arrow-icon {
    padding-left: 20px;
    color: #000;
}

.img-detail {
    width: 70%;
}

.product-detail-container {
    padding-left: 10%;
    padding-right: 10%;
}

