html {
    height: 100%;
}

body {
    background: url('../media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 200px);
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.img-products {
    height: 340px;
    width: 693px;
}

.container-fluid {
    padding-left: 10%;
    padding-right: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.arrow-icon {
    padding-left: 20px;
    color: #000;
}

.img-detail {
    width: 70%;
}

.product-detail-container {
    padding-left: 10%;
    padding-right: 10%;
}

.input-group {
    display: flex;
}

.btn {
    background-color: #B71C1C;
    width: 106%;
    height: 83%;
}

.btn:hover {
    color: #000;
    background-color: #B71C1C;
}

input {
    background-color: transparent;
    border: 1px solid #B71C1C;
    border-radius: 0;
    outline: none;
    height: 34px;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #000;
}

.sort-btn {
    margin-top: 67px;
}

.btn-cart {
    width: 75%;
}

.update-link {
    padding: 10px;
}

.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 2rem;
    line-height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    display: block;
    user-select: none;
    z-index: 1;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast-exit {
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 3px;
    right: -4px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-color: white;
    border: none;
}

.toast-exit:hover {
    background-color: #ccc;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.toast-info {
    margin: 0;
}
