html {
    height: 100%;
}

body {
    background: url('../media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 200px);
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.img-products {
    height: 340px;
    width: 693px;
}

.container-fluid {
    padding-left: 10%;
    padding-right: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.arrow-icon {
    padding-left: 20px;
    color: #000;
}

.img-detail {
    width: 70%;
}

.product-detail-container {
    padding-left: 10%;
    padding-right: 10%;
}

.input-group {
    display: flex;
}

.btn {
    background-color: #B71C1C;
    width: 106%;
    height: 83%;
}

.btn:hover {
    color: #000;
    background-color: #B71C1C;
}

input {
    background-color: transparent;
    border: 1px solid #B71C1C;
    border-radius: 0;
    outline: none;
    height: 34px;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #000;
}

.sort-btn {
    margin-top: 67px;
}

.btn-cart {
    width: 75%;
}