{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="product-detail-container">
        <div class="row">
            <div class="col-12">
                <a href="{% url 'products' %}" class="arrow-icon">
                    <i class="fas fa-arrow-left">Back to shopping</i>
                </a>
            </div>
        </div>
        <div class="row card-panel">
            <div class="col m7">
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
			            <img class="img-detail" src="{{ product.image_url }}" alt="{{ product.name }}"/>
			        </a>
                {% else %}
                    <a href="#">
				        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}"/>
				    </a>
                {% endif %} 
            </div>
            <div class="col m5">
                <h3 class="red-text darken-4">{{ product.name }}</h3>
                <p>
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                </p>
                <p>{{ product.description }}</p>
                {% if product.category %}
                <p class="cat-tag">
                    <a class="text-muted black-text" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag"></i>{{ product.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
                <h4>£{{ product.price }}</h4>
            </div>
        </div>
    </div>
    
{% endblock %}
